*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: aliceblue;
}

html,body{
height: 100%;
width: 100%;
}

.main{
    height:85%;
    width:100%;
    background-color:black ;
    display: flex;
    padding: 5vw 10vw;
}

.left{
    height: 100%;
    width: 55%;
    background-color: #333;
    background-image: url(img3.jpg);
    background-size:cover ;
    background-position: center;
}
.right{
    height: 100%;
    width: 55%;
    /* background-color: blue; */
    padding: 0 3vw;
}

.right h3{
    font-size: 40px;
}

.all-songs{
    /* background-color: red; */
    height: 80%;
    margin-top: 30px;
}

.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 15px 10px ;
}

.song-card:hover{
    background-color: #1e1e1e;
}

.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}

.song-card .part1{
    display: flex;
    justify-content: center;
}
.song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px;
}

.song-card h2{
    font-size: 22px;
}

.song-card h6{
    font-size: 16px;
}

.player{
    height:15%;
    width: 100%;
    background-color: rgb(11, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.player h3{
    background-color: rgba(56, 46, 46, 0.737);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player h3 i{
    font-size: 24px;
}